@media (min-width: 576px) { 
    .logo-sizes {
        width: 100px;
        height: 60px;
    }
 }

.pdg-ctn {
    padding-top: 100px;
}

.text-today {
    font-size: 100px;
}

/* timer */
#clockdiv{
    font-family: Quicksand;
    color: rgb(119, 86, 86);
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  #clockdiv > div{
    padding: 10px;
    border-radius: 4px;
    background: #f9fafb;
    display: inline-block;
  }
  
  #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #e7e8e8;
    display: inline-block;
  }
  
  .smalltext{
    padding-top: 5px;
    font-size: 16px;
  }